<%- include('includes/head', { pageTitle: 'Lỗi'}) %>
</head>
<body class="overflow-x-hidden">
    <%- include('includes/header') %>
    <div class="h-[90vh]">
        <img src="/img/blocked.jpg" alt="error" class="max-h-[60vh] mx-auto">
        <h1 class="my-2 text-center text-4xl font-semibold">Yêu cầu truy cập đã bị chặn</h1>
        <p class="text-center">Bạn chưa được cấp quyền để truy cập đường dẫn này</p>
        <p class="mt-2 text-center text-red-500"><a href="/">Trở về trang chủ</a></p>
    </div>
</body>
<%- include('includes/footer') %>