<%- include('includes/head', { pageTitle: 'Lỗi'}) %>
</head>
<body class="overflow-x-hidden">
    <%- include('includes/header') %>
    <div class="h-[90vh]">
        <img src="/img/404.jpg" alt="error" class="max-h-[60vh] mx-auto">
        <h1 class="my-2 text-center text-4xl font-semibold">Không thể thể tìm thấy trang web bạn yêu cầu</h1>
        <p class="text-center">Vui lòng kiểm tra lại đường dẫn hoặc thử lại sau!</p>
        <p class="mt-2 text-center text-red-500"><a href="/">Trở về trang chủ</a></p>
    </div>
</body>
<%- include('includes/footer') %>