<%- include('includes/head', { pageTitle: 'Lỗi'}) %>
</head>
<body class="h-screen">
    <h1 class="text-center">Không thể thực hiện yêu cầu của bạn</h1>
    <p>Vui lòng kiểm tra lại đường dẫn hoặc thử lại sau!</p>
    <p> <a href="/">Trở về trang chủ</a></p>
</body>
<%- include('includes/footer') %>