<%- include('../shared/includes/head', { pageTitle: 'HEADtown'}) %>
</head>
  <body class="bg-primaryBg font-sans font-bold">
    <main>
      <section id="hero" class="relative h-screen mb-24 overflow-hidden">
        <nav class="w-screen bg-opacity-20 relative mx-auto py-3 text-white z-30">
          <div class="flex items-center justify-between">
            <!-- Logo  -->
            <div class="z-30 w-48">
              <a href="/"><img src="/img/logo-dark.svg" /></a>
            </div>
            <!-- Mid menu  -->
            <div class="flex justify-around space-x-10 text-xl">
              <a
                href="#"
                class="px-4 py-2 rounded-3xl hover:bg-slate-300 hover:bg-opacity-50"
                >Xe số</a
              >
              <a
                href="#"
                class="px-4 py-2 rounded-3xl hover:bg-slate-300 hover:bg-opacity-50"
                >Xe tay ga</a
              >
              <a
                href="#"
                class="px-4 py-2 rounded-3xl hover:bg-slate-300 hover:bg-opacity-50"
                >Xe tay côn</a
              >
              <a
                href="#"
                class="px-4 py-2 rounded-3xl hover:bg-slate-300 hover:bg-opacity-50"
                >Phân khối lớn</a
              >
            </div>
            <!-- Right menu  -->
            <div class="flex justify-between px-4 space-x-2">
              <a
                href="#"
                class="w-14 rounded-full hover:bg-slate-300 hover:bg-opacity-50"
                ><img src="/img/magnifier-dark.svg"
              /></a>
              <a
              href="/cart"
              class="relative w-14 rounded-full hover:bg-slate-300 hover:bg-opacity-50"
              >
                <img src="/img/cart-dark.svg"/>
                <div class="absolute top-0 -right-1 p-1 rounded-full bg-white text-black text-xs"><%= locals.cart.totalQuantity %></div>
              </a>
              <% if (locals.isAuth) { %>
                <div tabindex="0" class="relative group w-14 rounded-full focus:bg-slate-300 focus:bg-opacity-50 cursor-pointer">
                  <img src="/img/user-dark.svg">
                  <div class="absolute group opacity-0 top-8 right-0 w-44 group-focus:opacity-100 group-focus:translate-y-5
                  transition-transform duration-300 bg-white text-black shadow-md mx-2 p-2 rounded cursor-default">
                    <ul>
                      <li class="ml-2 border-b border-black">Xin chào, <%= locals.username %></li>
                      <% if (locals.role) { %>
                        <li><a href="/admin" class="flex items-center">
                          <img src="/img/admin.svg" class="w-14">
                          <p>Admin Panel</p>
                        </a></li>
                      <% } %>
                      <li>
                        <form action="/logout" method="POST">
                          <button class="flex items-center">
                            <img src="/img/logout.svg" class="w-14">
                            <p>Đăng xuất</p>
                          </button>
                        </form>
                      </li>
                    </ul>
                  </div>
                </div>
              <% } else { %>
                  <a
                    href="/signup"
                    class="w-14 rounded-full hover:bg-slate-300 hover:bg-opacity-50"
                    ><img src="/img/user-dark.svg"
                  /></a>
              <% } %>
            </div>
          </div>
        </nav>
        <!--@todo mobile menu  -->

        <!-- hero video  -->
        <div class="absolute top-0 left-0 w-full h-full overflow-hidden z-10">
          <video class="video min-w-full min-h-full absolute object-cover" type="video/mp4" autoplay muted loop>
            <source src="/video/video.mp4">
          </video>
        </div>
      </section>

      <section id="features" class="pb-24">
        <h2>Vì sao chọn HEADtown?</h2>
        <!-- Features Container  -->
        <div
          class="relative container flex flex-col items-start px-6 mx-auto md:flex-row md:space-x-7"
        >
          <!-- Horizontal Line -->
          <div
            class="hidden absolute top-24 w-10/12 left-16 h-3 bg-primaryRed md:block"
          ></div>
          <!-- Vertical Line -->
          <div class="absolute w-2 left-1/2 h-full -ml-1 bg-primaryRed md:hidden"></div>
  
          <!-- Box 1 -->
          <div
            class="relative flex flex-col p-6 space-y-6 bg-white rounded-lg md:w-1/3"
          >
            <div class="absolute -ml-10 left-1/2 -top-10 md:left-16">
              <div
                class="flex items-center justify-center w-20 h-20 p-4 rounded-full bg-darkBlue"
              >
                <img src="/img/warranty.svg" alt="" />
              </div>
            </div>
            <h5
              class="pt-6 text-xl font-bold text-center capitalize md:text-left"
            >
              Chính hãng Honda
            </h5>
            <p class="text-center text-gray-400 md:text-left">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam maxime, porro voluptatibus totam voluptate dolorem adipisci quas earum.
            </p>
          </div>
  
          <!-- Box 2 -->
          <div
            class="relative flex flex-col mt-24 p-6 space-y-6 bg-white rounded-lg md:mt-8 md:w-1/3"
          >
            <div class="absolute -ml-10 left-1/2 -top-10 md:left-16">
              <div
                class="flex items-center justify-center w-20 h-20 p-4 rounded-full bg-darkBlue"
              >
                <img src="/img/repair.svg" alt="" />
              </div>
            </div>
            <h5
              class="pt-6 text-xl font-bold text-center capitalize md:text-left"
            >
              Bảo hành chuyên nghiệp
            </h5>
            <p class="text-center text-gray-400 md:text-left">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, qui aliquam officiis omnis eius itaque iste.
            </p>
          </div>
  
          <!-- Box 3 -->
          <div
            class="relative flex flex-col mt-24 p-6 space-y-6 bg-white rounded-lg md:mt-16 md:w-1/3"
          >
            <div class="absolute -ml-10 left-1/2 -top-10 md:left-16">
              <div
                class="flex items-center justify-center w-20 h-20 p-4 rounded-full bg-darkBlue"
              >
                <img src="/img/service.svg" alt="" />
              </div>
            </div>
            <h5
              class="pt-6 text-xl font-bold text-center capitalize md:text-left"
            >
              Dịch vụ hậu mãi
            </h5>
            <p class="text-center text-gray-400 md:text-left">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim esse, odio consequuntur deleniti reprehenderit suscipit amet nam magnam velit saepe.
            </p>
          </div>
        </div>
      </section>
      <section id="cta" class="px-16 mx-auto pb-12">
        <h2>CÁC DÒNG XE</h2>
        <div class=" container flex flex-col space-y-8">
          <div class="container flex flex-row space-x-2">
            <div class="group item">
              <img
                src="/img/wave.png"
                alt=""
                class="hidden w-full duration-200 md:block group-hover:scale-110"
              />
              <div class="item-gradient"></div>
              <h4>Xe số</h4>
            </div>
            <div class="group item">
              <img
                src="/img/sh.png"
                alt=""
                class="hidden w-full duration-200 md:block group-hover:scale-110"
              />
              <div class="item-gradient"></div>
              <h4>Xe tay ga</h4>
            </div>
          </div>
          <div class="container flex flex-row space-x-2">
            <div class="group item">
              <img
                src="/img/winner.png"
                alt=""
                class="hidden w-full duration-200 md:block group-hover:scale-110"
              />
              <div class="item-gradient"></div>
              <h4>Xe tay côn</h4>
            </div>
            <div class="group item">
              <img
                src="/img/cbr.png"
                alt=""
                class="hidden w-full duration-200 md:block group-hover:scale-110"
              />
              <div class="item-gradient"></div>
              <h4 class="">Phân khối lớn</h4>
            </div>  
          </div>
        </div>
      </section>
    </main>
<%- include('../shared/includes/footer') %>