<%- include('../../shared/includes/head', { pageTitle: 'Đăng nhập'}) %>
</head>
<body class="h-screen bg-zinc-800 flex flex-col space-y-10 justify-center items-center text-white">
    <!-- logo -->
   <div class=" flex w-96 ">
      <img src="/img/logo-dark.svg" alt="">
   </div>
  
    <!-- Form  -->
    <div class="bg-zinc-700 w-96 shadow-xl rounded-2xl p-5">
      <h1 class="text-3xl font-medium text-center">Đăng nhập</h1>
      <form class="space-y-5 mt-5 text-black" id="login-form" method="POST" action="/login">
        <% if (inputData.errorMessage) { %>
          <div class="bg-red-200 w-full rounded">
            <p class="px-2 py-1 text-red-700 font-bold text-md"><%= inputData.errorMessage %></p>
          </div>
        <% } %>
        <input type="text" class="w-full h-12 border border-gray-800 rounded px-3" placeholder="Tên đăng nhập" name="username" value="<%= inputData.username %>" required/>
        <input type="password" class="w-full h-12 border-gray-800 rounded px-3"  placeholder="Mật khẩu" name="password" value="<%= inputData.password %>" minlength="6" required/>
        <p class="text-primaryRed hover:text-secondaryRed font-medium text-right cursor-pointer">Quên mật khẩu ?</p> 
        <button class="text-center w-full bg-secondaryRed hover:bg-primaryRed rounded-full text-white py-3 font-medium">Đăng nhập</button>
      </form>
    </div>
    <p>Chưa có tài khoản? <a href="/signup" class="text-primaryRed hover:text-secondaryRed font-medium">Đăng ký</a></p>
  </div>
</body>