<div id="product-form" class="hidden w-[45vw] absolute z-40 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 p-4 rounded-lg bg-slate-800 text-gray-200">
  <form method="POST" action="<%= submitPath %>" enctype="multipart/form-data"  class="overflow-scroll overflow-x-hidden max-h-[60vh] px-2">
    <label>Tên sản phẩm</label>
    <input type="text" name="name" value="<%= product.TenSP %>" required>
    <label>Loại sản phẩm</label>
    <select name="type" class="bg-gray-700 text-white p-2">
      <option value="01">Xe số</option>
      <option value="02">Xe tay ga</option>
      <option value="03">Xe tay côn</option>
      <option value="04">Phân khối lớn</option>
    </select>
    <label>Giá</label>
    <input type="number" name="price" value="<%= product.Gia %>" required><span class="ml-2">VNĐ</span>
    <label>Kho</label>
    <input type="number" name="stock" value="<%= product.SoLuong %>" required>
    <label>Ảnh sản phẩm</label>
    <div class="thumbnail-uploader flex items-center">
      <input type="file" name="thumbnail" accept="image/png" class="hidden" id="thumbnail" <% if (imageRequired) { %> required <% } %>>
      <label for="thumbnail" class="img-upload-btn">Chọn ảnh</label>
      <img alt="uploaded image" class="hidden ml-8 w-16 h-16">
    </div>

    <!-- *** -->
    <div class="w-full flex justify-around mt-6">
      <button type="button" class="py-2 px-4 text-red-500 rounded border border-red-500 bg-transparent" id="cancel-btn">Huỷ bỏ</button>
      <button class="py-2 px-4 bg-blue-600 rounded border border-blue-600" id="save-btn">Thêm sản phẩm</button>
    </div>
  </form>
</div>