<body>
  <div class="w-full bg-gray-800">
      <a href="/"><img src="/img/logo-dark.svg" class="w-48 pt-2"></a>
    </div>
  <div class="flex bg-gray-900 h-screen">
    <aside class="z-20 bg-gray-800 w-64 overflow-y-auto flex-shrink-0 pl-3">
      <ul class="mt-10 space-y-4">
        <li>
          <a href="/admin" class="nav-links" id="admin">
            <img src="/img/dashboard.svg" class="w-8">
            <span>Tổng quan</span>
          </a>
        </li>
        <li>
          <a href="/admin/customers" class="nav-links" id="customers">
            <img src="/img/customer.svg" class="w-8">
            <span>Khách hàng</span>
          </a>
        </li>
        <li>
          <a href="/admin/orders" class="nav-links" id="orders">
            <img src="/img/order.svg" class="w-8">
            <span>Đơn hàng</span>
          </a>
        </li>
        <li>
          <a href="/admin/products" class="nav-links" id="products">
            <img src="/img/product.svg" class="w-8">
            <span>Sản phẩm</span>
          </a>
        </li>
        <li>
          <a href="/admin/auth" class="nav-links" id="auth">
            <img src="/img/auth-set.svg" class="w-8">
            <span>Phân quyền</span>
          </a>
        </li>
        <li class="hidden">
          <a href="/admin" class="nav-links-highlight"></a>
        </li>
      </ul>
    </aside>