<%- include('head', { pageTitle: 'Sửa sản phẩm'}) %>
</head>
<%- include('sidebar') %>
</body>
<div class="w-full h-full bg-black bg-opacity-50 fixed z-30 top-0 left-0" id="backdrop"></div>
<%- include('variant-form', {submitPath: '/admin/products/variant/' + productVariant.MaDSP + '/update/' + productVariant.MaSP, productVariant: productVariant, imageRequired: false}) %> 
<script>
  const form = document.getElementById('product-form');
  form.classList.remove('hidden');
  const cancelBtns = document.querySelectorAll('.cancel-btn');
  cancelBtns.forEach(function(cancelBtn){
    cancelBtn.innerHTML = '<a href="' + document.referrer + '">' + cancelBtn.textContent + '</a>';
  })
  const saveBtn = document.getElementById('save-btn');
  saveBtn.textContent = 'Lưu';
</script>