<footer class=" bg-black text-white font-light">
    <!-- flex container  -->
    <div class="container flex flex-col space-y-4 px-4 mx-auto py-8">
      <!-- logo and social media  -->
      <div class="flex flex-col md:flex-row justify-between items-end">
        <img src="/img/logo-dark.svg" class="w-48">
        <!-- social media  -->
        <div class="flex flex-row space-x-4 items-center">
          <!-- Icon 1 -->
          <div class="h-8 ficon">
            <a href="#">
              <img src="/img/facebook.svg" class="h-6" />
            </a>
          </div>
           <!-- Icon 2 -->
           <div class="h-8 ficon">
            <a href="#">
              <img src="/img/instagram.svg" class="h-6" />
            </a>
          </div>
           <!-- Icon 3 -->
           <div class="h-8 ficon">
            <a href="#">
              <img src="/img/twitter.svg" class="h-6" />
            </a>
          </div>
           <!-- Icon 4 -->
           <div class="h-8 ficon">
            <a href="#">
              <img src="/img/pinterest.svg" class="h-6" />
            </a>
          </div>
        </div>
      </div>
      <!-- links container -->
        <div class="flex flex-col md:flex-row justify-between space-y-4 md:space-y-0 md:space-x-4">
          <!-- links col  -->
          <div class="flex flex-col space-y-2">
            <p>Hotline: <a href="tel:1900-6969">1900-6969</a></p>
            <p>email: <a href="mailto:head@nothing.com">head@nothing.com</a></p>
          </div>
          <!-- links col  -->
          <div class="flex flex-col space-y-2">
            <a href="#">Tin tức</a>
            <a href="#">Tuyển dụng</a>
          </div>
          <!-- links col  -->
          <div class="flex flex-col space-y-2">
            <a href="#">Hệ thống cửa hàng</a> 
            <a href="#">Chính sách bảo hành</a>
          </div>
        </div>
    </div>
  </footer>
</body>
</html>