<header>
  <nav class="w-screen bg-opacity-20 relative mx-auto py-3 text-white z-30">
    <div class="flex items-center justify-between">
      <!-- Logo  -->
      <div class="z-30 w-48">
        <a href="/"><img src="/img/logo.svg" /></a>
      </div>
      <!-- Mid menu  -->
      <div class="flex justify-around space-x-10 text-xl">
        <a
          href="#"
          class="px-4 py-2 rounded-3xl hover:bg-slate-300 hover:bg-opacity-50"
          >Xe số</a
        >
        <a
          href="#"
          class="px-4 py-2 rounded-3xl hover:bg-slate-300 hover:bg-opacity-50"
          >Xe tay ga</a
        >
        <a
          href="#"
          class="px-4 py-2 rounded-3xl hover:bg-slate-300 hover:bg-opacity-50"
          >Xe tay côn</a
        >
        <a
          href="#"
          class="px-4 py-2 rounded-3xl hover:bg-slate-300 hover:bg-opacity-50"
          >Phân khối lớn</a
        >
      </div>
      <!-- Right menu  -->
      <div class="flex justify-between px-4 space-x-2">
        <a
          href="#"
          class="w-14 rounded-full hover:bg-slate-300 hover:bg-opacity-50"
          ><img src="/img/magnifier.svg"
        /></a>
        <a
        href="/cart"
        class="w-14 rounded-full hover:bg-slate-300 hover:bg-opacity-50"
        ><img src="/img/cart.svg"
        /></a>
        <% if (locals.isAuth) { %>
          <form action="/logout" method="POST"
            class="w-14 rounded-full hover:bg-slate-300 hover:bg-opacity-50 cursor-pointer"
            >
            <button><img src="/img/logout.svg"/></button>
          </form>
        <% } else { %>
            <a
              href="/signup"
              class="w-14 rounded-full hover:bg-slate-300 hover:bg-opacity-50"
              ><img src="/img/user.svg"
            /></a>
        <% } %>
      </div>
    </div>
  </nav>
</header>