<header>
  <nav class="w-screen bg-opacity-20 relative mx-auto py-3 text-white z-30">
    <div class="flex items-center justify-between">
      <!-- Logo  -->
      <div class="z-30 w-48">
        <a href="/"><img src="/img/logo.svg" /></a>
      </div>
      <!-- Mid menu  -->
      <div class="flex justify-around space-x-10 text-black text-xl">
        <a
          href="/products"
          class="px-4 py-2 rounded-3xl hover:bg-slate-500 hover:bg-opacity-50"
          >Xe số</a
        >
        <a
          href="/products"
          class="px-4 py-2 rounded-3xl hover:bg-slate-500 hover:bg-opacity-50"
          >Xe tay ga</a
        >
        <a
          href="/products"
          class="px-4 py-2 rounded-3xl hover:bg-slate-500 hover:bg-opacity-50"
          >Xe tay côn</a
        >
        <a
          href="/products"
          class="px-4 py-2 rounded-3xl hover:bg-slate-500 hover:bg-opacity-50"
          >Phân khối lớn</a
        >
      </div>
      <!-- Right menu  -->
      <div class="flex justify-between px-4 space-x-2">
        <a
          href="#"
          class="w-14 rounded-full hover:bg-slate-500 hover:bg-opacity-50"
          ><img src="/img/magnifier.svg"
        /></a>
        <a
          href="/cart"
          class="relative w-14 rounded-full hover:bg-slate-500 hover:bg-opacity-50"
        >
          <img src="/img/cart.svg" />
          <div
            class="absolute top-0 -right-1 p-1 w-4 rounded-full bg-black text-white text-xs"
            id="cart-counter"
          >
            <%= locals.cart.totalQuantity %>
          </div>
        </a>
        <% if (locals.isAuth) { %>
          <div tabindex="0" class="relative group w-14 rounded-full focus:bg-slate-500 focus:bg-opacity-50 cursor-pointer">
            <img src="/img/user.svg">
            <div class="absolute group opacity-0 top-8 right-0 w-44 group-focus:opacity-100 group-focus:translate-y-5
            transition-transform duration-300 bg-neutral-100 text-black shadow-md mx-2 p-2 rounded cursor-default">
              <ul>
                <li class="ml-2 border-b border-black">Xin chào, <%= locals.username %></li>
                <% if (locals.role) { %>
                  <li><a href="/admin" class="flex items-center">
                    <img src="/img/admin.svg" class="w-14">
                    <p>Admin Panel</p>
                  </a></li>
                <% } %>
                <li>
                  <a href="/orders" class="flex items-center">
                    <img src="/img/history.svg" class="w-14">
                    Đơn hàng
                  </a>
                </li>
                <li>
                  <form action="/logout" method="POST">
                    <button class="flex items-center">
                      <img src="/img/logout.svg" class="w-14">
                      <p>Đăng xuất</p>
                    </button>
                  </form>
                </li>
              </ul>
            </div>
          </div>
        <% } else { %>
        <a
          href="/signup"
          class="w-14 rounded-full hover:bg-slate-500 hover:bg-opacity-50"
          ><img src="/img/user.svg"
        /></a>
        <% } %>
      </div>
    </div>
  </nav>
</header>
