@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-center text-5xl pb-20;
  }
  h4 {
    @apply absolute bottom-2 right-2 z-10 uppercase px-4 text-right text-4xl font-extralight text-white duration-200 group-hover:scale-110 group-hover:text-black;
  }
}

@layer components {
  .item {
    @apply relative overflow-hidden md:w-1/2;
  }

  .item-gradient {
    @apply absolute top-0 bottom-0 right-0 left-0 bg-gradient-to-b from-transparent to-gray-900 group-hover:from-gray-50 group-hover:to-white group-hover:opacity-70;
  }

  .product-img {
    @apply relative;
  }

  .product-img img {
    @apply w-72 mx-auto;
  }

  .product-img a {
    @apply opacity-0 absolute bg-rose-700 text-white top-[50%] left-[50%] translate-x-[-50%]
    px-4 py-2 rounded-xl transition duration-300 z-[3];
  }

  .product-img div {
    @apply absolute w-36 h-36 opacity-0 rounded-full bg-red-400 top-[50%] left-[50%]
    translate-x-[-50%] translate-y-[-50%] transition duration-700 z-[2];
  }

  .pagination a {
    @apply p-2 rounded-full active:bg-gray-400 hover:bg-gray-300 cursor-pointer;
  }
}

#hero nav {
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.2));
}

.product-hero-img {
  aspect-ratio: 21/9;
  object-fit: cover;
  width: 100%;
}

footer a:hover {
  @apply text-primaryRed;
}

.ficon:hover {
  filter: invert(37%) sepia(61%) saturate(6163%) hue-rotate(343deg)
    brightness(95%) contrast(111%);
}
